$golden-rod-yellow: #fafad2;
$golden-rod: #daa520;
$dark-golden-rod: #b8860b;
$peach-white: #fef9F6;
$pink-peach: #fcf0eb;
$dark-pink-peach: #efbfbd;
$dark-peach-white: #f5e9e0;
$butter-yellow: #f5cc6e;
$peach-orange: #f89041;
$dark-peach-orange: #d87c35;
$cherry-red: rgb(236, 100, 100);