@import "../../common_styles/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.dashboard-page {
  position: relative;
  background-color: $pink-peach;
  min-height: 100vh;
  width: 100%;
  display: flex;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  font-family: 'Gochi Hand', cursive;

  .left-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1.5px $peach-orange solid;
    .leaderboard-title {
      font-size: 2.5rem;
      color: darkorange;
      margin-bottom: 0;
      font-family: 'Lobster', cursive;
      text-shadow: 3px 3px 5px lightgrey;
    }

    .leaderboard-subtitle {
      font-size: 1.5rem;
    }

    .dashboard-background {
      width: 50%;
    }

    .leaderboard {
      min-height: 15rem;
      width: 40rem;
      border-radius: 30px;
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      
      .score-cards-container {
        padding: 1.5rem;
        background-color: $dark-pink-peach;
        width: 100%;
        min-height: 10rem;
        border-radius: 30px;
        text-align: center;

        .leaderboard-empty {
          margin-top: 2rem;
          font-size: 2rem;
          color: $peach-white;
          text-align: center;
        }
        
        .score-cards {
          display: flex;
          background-color: $peach-white;
          border-bottom: $peach-orange 1px solid;
          border-radius: 10px;
          padding: 0.5rem 2rem;
          margin-bottom: .5rem;
          box-sizing: content-box;
  
          &:hover {
            cursor: pointer;
            border-bottom: $peach-orange 2px solid;
          }
          .score-card-username{
            margin-right: 1rem;
          }
          .score-card-score{
            margin-right: 1rem;
          }
  
          .score-card-penalty{
            margin-right: 1rem;
          }
  
          .score-card-average-answer-time{
            margin-right: 1rem;
  
          }
  
        }

      }
    }
  }


  .right-container {
    width: 35%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: $dark-pink-peach;

    .user-avatar {
      display: flex;
      align-items: center;
      padding: .5rem;
      justify-content: flex-end;
      right: 2rem;
      top: 2rem;

      .user-username {
        margin: 0.25rem;
      }

      .user-logout {

        background-color: red;
        color: white;
        border: none;
        padding: 0.25rem 1rem; 
        border-radius: 15px;
        transition: 0.3s ease;
        margin: 0.5rem;

        &:hover {
          cursor: pointer;
          background-color: darkred;

        }

      }
    }


    .start-new-game-button {
      margin-top: 5rem;
      height: 15rem;
      width: 15rem;
      background-color: $pink-peach;
      border-radius: 15px;
      box-shadow: 10px 10px 20px rgba(166, 162, 166, .8);
      transition: ease 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $dark-pink-peach;
      font-size: 1.25rem;

      > h3 {
        margin: 0;
        padding: .5rem;
      }

      &:hover {
        transform: scale(1.08);
        cursor: pointer;
        box-shadow: 5px 5px 10px rgb(166, 162, 166);
      }

      .start-game-sticker {
        width: 60%;
      }
    }

    .continue-game-button {
      margin-top: 5rem;
      height: 15rem;
      width: 15rem;
      background-color: $butter-yellow;
      border-radius: 15px;
      box-shadow: 10px 10px 20px rgba(166, 162, 166, .8);
      transition: ease 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $peach-white;
      font-size: 1.25rem;

      > h3 {
        margin: 0;
        padding: .5rem;
      }

      &:hover {
        transform: scale(1.08);
        cursor: pointer;
        box-shadow: 5px 5px 10px rgb(166, 162, 166);
      }

      .continue-game-sticker {
        width: 60%;
      }



    }


  }


}