.converter-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .field-label {
    padding-bottom: .25rem;
    font-size: 1.15rem;
    font-weight: 300;
    margin-bottom: .25rem;
  }

  .field-input  {
    min-height: 1.25rem;
    border: none;
    margin-bottom: .5rem;
    font-size: 1.15rem;
    padding: .5rem .5rem .25rem .5rem;
    border-radius: 10px;
    text-align: center;

    &:focus {
      outline: none;
      background-color: whitesmoke;
    
    }
  }
}
